@import "tailwindcss";


@font-face {
  font-family: myFont; /* set name */
  src: url(./fonts/GatterSans-Regular.otf); /* url of the font */
}

* {
    font-family: myFont;
}

html, body {
    width: 100%;
    height: 100%;
}

main {
    width: 100vw;
    height: 100vh;
}